{% load static %}
<div>
    <div class="text-center mx-4 my-5">
        <img src="{% static 'core/images/abdullah profile jpeg.jpg' %}"
             alt="Muhammad Abdullah Profile Picture"
             class="img-fluid rounded-circle border border-4 border-warning"
        >
        <h2 class="fw-bold">Muhammad Abdullah</h2>
    </div>
    <nav>
        <ul class="list-unstyled fs-4 text-center">
            <li><a href="{% url 'home' %}" class="text-decoration-none text-warning d-block py-2 my-1">Home</a></li>
            <li><a href="{% url 'services' %}" class="text-decoration-none text-warning d-block py-2 my-1">Services</a></li>
            <li><a href="{% url 'skills' %}" class="text-decoration-none text-warning d-block py-2 my-1">Skill</a></li>
            <li><a href="{% url 'contact' %}" class="text-decoration-none text-warning d-block py-2 my-1">Contact</a></li>
        </ul>
    </nav>
</div>
